body {
	background-color: darkturquoise;
}

h1, h2 {
	color: dodgerblue;
	border: 4px dotted forestgreen;
	border-bottom-style: solid;
}

p {
	font-size: 20px;
}

img {
	position: absolute;
	right: 10px;
}

.center {
	text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    border-right: 1px solid yellow;
}

li:last-child {
	border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: grey;
}

.active {
    background-color: green;
}